In [2]:
import pandas as pd
import numpy as np

In [3]:
##Data Reading
df=pd.read_csv("loan status.csv")

In [4]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [6]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [10]:
df['Gender']=le.fit_transform(df['Gender'])
df['Married']=le.fit_transform(df['Married'])
df['Education']=le.fit_transform(df['Education'])
df['Self_Employed']=le.fit_transform(df['Self_Employed'])
df['Property_Area']=le.fit_transform(df['Property_Area'])
df['Loan_Status']=le.fit_transform(df['Loan_Status'])

In [11]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [12]:
df['Dependents'].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [13]:
df=df.replace(to_replace='3+',value=4)

In [14]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [15]:
df['Dependents'].value_counts()

Dependents
0    274
2     85
1     80
4     41
Name: count, dtype: int64

In [16]:
##Independent features
X=df.drop(columns=["Loan_ID","Loan_Status"])
##dependent features
y=df['Loan_Status']

In [17]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,0,0,0,0,0,2900,0.0,71.0,360.0,1.0,0
610,1,1,4,0,0,4106,0.0,40.0,180.0,1.0,0
611,1,1,1,0,0,8072,240.0,253.0,360.0,1.0,2
612,1,1,2,0,0,7583,0.0,187.0,360.0,1.0,2
613,0,0,0,0,1,4583,0.0,133.0,360.0,0.0,1

In [18]:
y

1      0
2      1
3      1
4      1
5      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 480, dtype: int32

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [20]:
X_train.shape

(432, 11)

In [21]:
X_test.shape

(48, 11)

In [22]:
y_train.shape

(432,)

In [23]:
y_test.shape

(48,)

In [24]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [25]:
logistic=LogisticRegression()

In [26]:
classifier=SVC(kernel='linear')

In [27]:
logistic.fit(X_train,y_train)

c:\Users\Acer\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
y_pred1=logistic.predict(X_test)

In [29]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
logistic_accuracy_score=accuracy_score(y_pred1,y_test)
logistic_confusion_matrix=confusion_matrix(y_pred1,y_test)
logistic_classification_report=classification_report(y_pred1,y_test)

print("Logistic Regression Metrics: ")
print("Logistic Accuracy Score: ",logistic_accuracy_score)
print("Logistic Regression Confusion Matrix: ",logistic_confusion_matrix)
print("Logistic Regression Classification Report: ",logistic_classification_report)

Logistic Regression Metrics:
Logistic Accuracy Score:  0.7083333333333334
Logistic Regression Confusion Matrix:  [[ 2  1]
 [13 32]]
Logistic Regression Classification Report:                precision    recall  f1-score   support

           0       0.13      0.67      0.22         3
           1       0.97      0.71      0.82        45

    accuracy                           0.71        48
   macro avg       0.55      0.69      0.52        48
weighted avg       0.92      0.71      0.78        48

In [30]:
import pickle

# After training your logistic regression model
# logistic is your trained model (LogisticRegression)

# Save the trained model to a file
with open('logistic_model.pkl', 'wb') as f:
    pickle.dump(logistic, f)

print("Trained logistic regression model saved to logistic_model.pkl")

# Example: Load the model and make a single prediction
# Prepare a single example row (must match the training features X)
# Example values (adjust to real feature names and plausible values):
# Assuming X.columns = ['Gender','Married','Education','Self_Employed','Property_Area',
#                      'ApplicantIncome','CoapplicantIncome','LoanAmount','LoanAmountTerm',
#                      'Credit_History','Dependents'] plus any other features in your dataset

example_input = {
    'Gender': 1,            # e.g., Male encoded by LabelEncoder
    'Married': 1,           # e.g., Yes
    'Education': 0,         # e.g., Graduate
    'Self_Employed': 0,       # e.g., No
    'Property_Area': 2,       # e.g., Urban/Rural/etc encoded
    'ApplicantIncome': 5000,
    'CoapplicantIncome': 0,
    'LoanAmount': 100,
    'LoanAmountTerm': 360,
    'Credit_History': 1,
    'Dependents': 1
}

# Ensure the input is in the same order as X.columns
import pandas as pd
input_df = pd.DataFrame([example_input])
input_df = input_df.reindex(columns=X.columns, fill_value=0)

with open('logistic_model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

pred = loaded_model.predict(input_df)
print("Predicted Loan_Status for example:", pred[0])

Trained logistic regression model saved to logistic_model.pkl
Predicted Loan_Status for example: 1